/* background color = #FFFAEB
support color = #E9B949 */

*{
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FFFAEB;
}

header{
    height: 100px;
    background: #E9B949;
    width: 100%;
    /* position: fixed; */
    z-index: 12;
}

.logo{
    font-size: 30px;
    padding: 50px;
    margin-left: 50px;
    color: #E9B949;

}

.menu{
    font-family: "poppins";
    font-size: 20px;
    float: right;
    list-style: none;
    color: #E9B949;
}

.menu li{
    display: inline-block;
}

.menu li a{
    padding: 15px;
}

.menu li a:hover{
    background-color: #E9B949;
    border: 1px solid #E9B949;
    border-radius: 5px;
    border-width: auto;
}

.anime_req{
    text-align: center;
    font-style: italic;

}

.quote{
    color: black;
    font-size: 20px;
    font-style: bold;

}

.quote_of_the_day{
    color: black;
    font-size: 20px;
    text-align: center;
}

.episode{
    color: #E9B949;
    text-align: center;
}

.movie{
    color: #E9B949(38, 103, 159);
    text-align: center;
}


img{
    width: 200px;
    height: 280px;
}

.anime{
    width: 200px;
    height: 350px;
    background-color: #E9B949;
    margin: 20px;
    float: left;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    transition: 0.5s;
}
.anime:focus{
    transform: scale(1.1);
    z-index: 1;
}

.anime:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px #E9B949;
}

.anime_info{
    display: flex;
    position: absolute;
    align-items: center;
    font-size:medium ;
    color: white;
    padding-top: 145%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.allanime{
    padding-left: 2.4%;
}
